:root {
  --line-border-fill: dodgerblue;
  --line-border-empty: lightgray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: lightcyan;
}

.container {
  text-align: center;
}

.progress-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: '';
  position: absolute;
  background: var(--line-border-empty);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  z-index: -1;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.progress {
  position: absolute;
  background: var(--line-border-fill);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 0%;
  z-index: -1;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.circle {
  background: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.circle.active {
  border: 2px solid var(--line-border-fill);
}

.btn {
  border: 0;
  outline: 0;
  background: var(--line-border-fill);
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.btn[disabled] {
  background: darkgray;
}

.btn:active {
  transform: scale(0.9);
}

.btn:disabled {
  cursor: not-allowed;
  transform: unset;
}
